/* // Descrizione: Rifare l'esercizio della to do list come fatto assieme in classe:


// - stampare in pagina un item per ogni elemento contenuto in un array


// - ogni item ha una "x" associata: cliccando su di essa, l'item viene rimosso dalla lista


// - predisporre un input per aggiungere un nuovo item alla lista: digitando il tasto invio oppure ciccando su un pulsante, il testo digitato viene aggiunto alla lista */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 200px;
    padding-top: 30px;
}

.new-movie input {
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}
}